.book-main-class {
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.image-div {
  width: 90%;
  aspect-ratio: .8;
  border-radius: 10px;
  overflow: hidden; 
}

.name-h3 {
  color: #333;
  font-size: 1.5em;
  margin: 10px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15ch;
}

.author-p {
  font-style: italic;
  color: #555;
  margin: 5px 0;
}

.price-p {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 0;
}

.addtocart-button,
.buynow-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-top: 8px;
  cursor: pointer;
  width: 100%;
}

.addtocart-button {
  background-color: #27ae60;
  margin-top: 5px;
}




.bookdetails-button{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #db9034;
  font-size: 38px;
  margin: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

