.book-list-main-class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-and-sort{
  display: flex;
  justify-content: space-around;
}


.drop-down-menu {
  margin-bottom: 20px;
}

label {
  margin-left: 10px;
}

p {
  padding-left: 20px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
}

.book {
  border: 1px solid #ddd;
  margin: 10px;
  width: 23%;
  box-sizing: border-box;
}
